<!--DOCTYPE html>
<html>
<head>
	<title>Chakravyuha | Esya 2017</title>
</head>
<body background="static/images/bg.jpg">
<br><br><br><br><br><br><br>
<h1 class="animate-box"><font color="white"><center>COMING SOON...</center></font></h1>
</body>
</html-->

{% block title %}
Chakravyuha | Esya 2017 | Questions to be uploaded soon...
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{url_for('.static', filename='blank.css')}}">
{% endblock %}

{% block content %}
<body bgcolor="black">
<br><br><br><br><br><br><br>
<h1 class="animate-box"><font color="black" size="100px"><center>COMING SOON...</center></font>
{% endblock %}