<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="static/quesans.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<!--link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"-->
	
	<title>Chakravyuha | Esya 2017</title>
	<!-- <link rel="stylesheet" href="static/style.css"> -->
	
	<script>
	function clear_field()
	{	
 		document.getElementById("text").value = "";
 	}
	</script>
</head>
<body> <!--background="static/images/yo3.jpg"-->


<script src="{{url_for('static', filename='app.js')}}"></script>

    <div class="answerOuter pull-left">
        <label for="ans1" class="option opt1 pull-left">
            <input type="radio" name="ans1" id="ans1" />
            <span class="inner">Question 1</span>
        </label>
        <label for="ans2" class="option opt1 pull-left">
            <input type="radio" name="ans1" id="ans2" />
            <span class="inner">Question 2</span>
        </label>
        <label for="ans3" class="option opt1 pull-left">
            <input type="radio" name="ans1" id="ans3" />
            <span class="inner">Question 3</span>
        </label>
        <label for="ans4" class="option opt1 pull-left">
            <input type="radio" name="ans1" id="ans4" />
            <span class="inner">Question 4</span>
        </label>
    </div>

<br><br>

	<div id="f1">
	  <center>
	  <br><br><br>
	  <font color="white" size="20px"><b>QUESTION 1</b></font>
	  <br><br><br><br>
	    <a><font color="#D3D3D3">Hint 1: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 2: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 3: Yet to come</font></a>
	    
		<form action = "" method = "POST">
         <p><input type = "text" name = "answer" id="text" /></p>
         <p><input type = "submit" name = "1" value = "SUBMIT" onclick="clear_field();"/></p>
      	</form>
      	</center>
	
	<br><br>
	</div>

	<div id="f2">
	  <center>
	  <br><br><br>
	  <font color="white" size="20px"><b>QUESTION 2</b></font>
	  <br><br><br><br>
	    <a><font color="#D3D3D3">Hint 1: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 2: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 3: Yet to come</font></a>
	    
		<form action = "" method = "POST">
         <p><input type = "text" name = "answer" id="text" /></p>
         <p><input type = "submit" name = "2" value = "SUBMIT" onclick="clear_field();"/></p>
      	</form>
      	</center>
	
	<br><br>
	</div>

	<div id="f3">
	  <center>
	  <br><br><br>
	  <font color="white" size="20px"><b>QUESTION 3</b></font>
	  <br><br><br><br>
	    <a><font color="#D3D3D3">Hint 1: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 2: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 3: Yet to come</font></a>
	    
		<form action = "" method = "POST">
         <p><input type = "text" name = "answer" id="text" /></p>
         <p><input type = "submit" name = "3" value = "SUBMIT" onclick="clear_field();"/></p>
      	</form>
      	</center>
	
	<br><br>
	</div>

	<div id="f4">
	  <center>
	  <br><br><br>
	  <font color="white" size="20px"><b>QUESTION 4</b></font>
	  <br><br><br><br>
	    <a><font color="#D3D3D3">Hint 1: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 2: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 3: Yet to come</font></a>
	    
		<form action = "" method = "POST">
         <p><input type = "text" name = "answer" id="text" /></p>
         <p><input type = "submit" name = "4" value = "SUBMIT" onclick="clear_field();"/></p>
      	</form>
      	</center>
	
	<br><br>
	</div>


</body>
</html>