<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="static/quesans.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<!--link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}"-->
	
	<title>Chakravyuha | Esya 2017</title>
	<!-- <link rel="stylesheet" href="static/style.css"> -->
	
	<script>
	function clear_field()
	{	
 		document.getElementById("text").value = "";
 	}
	</script>
</head>
<body> 

<script src="{{url_for('static', filename='app.js')}}"></script>

    <div class="answerOuter pull-left">
        <label for="ans1" class="option opt1 pull-left">
            <input type="radio" name="ans1" id="ans1" />
            <a href="#f1"><span class="inner">Q1</span></a>
        </label>
        <label for="ans2" class="option opt1 pull-left">
            <input type="radio" name="ans1" id="ans2" />
            <a href="#f2"><span class="inner">Q2</span></a>
        </label>
        <label for="ans3" class="option opt1 pull-left">
            <input type="radio" name="ans1" id="ans3" />
            <a href="#f3"><span class="inner">Q3</span></a>
        </label>
        <label for="ans4" class="option opt1 pull-left">
            <input type="radio" name="ans1" id="ans4" />
            <a href="#f4"><span class="inner">Q4</span></a>
        </label>
        <label for="ans4" class="option opt1 pull-left">
            <input type="radio" name="ans1" id="ans5" />
            <a href="#f5"><span class="inner">Q5</span></a>
        </label>
        <label for="ans4" class="option opt1 pull-left">
            <input type="radio" name="ans1" id="ans6" />
            <a href="#f6"><span class="inner">Q6</span></a>
        </label>
        <label for="ans4" class="option opt1 pull-left">
            <input type="radio" name="ans1" id="ans7" />
            <a href="#f7"><span class="inner">Q7</span></a>
        </label>
        <label for="ans4" class="option opt1 pull-left">
            <input type="radio" name="ans1" id="ans8" />
            <a href="#f8"><span class="inner">Q8</span></a>
        </label>
        <label for="ans4" class="option opt1 pull-left">
            <input type="radio" name="ans1" id="ans9" />
            <a href="#f9"><span class="inner">Q9</span></a>
        </label>
        <label for="ans4" class="option opt1 pull-left">
            <input type="radio" name="ans1" id="ans10" />
            <a href="#f10"><span class="inner">Q10</span></a>
        </label>
        <label for="ans4" class="option opt1 pull-left">
            <input type="radio" name="ans1" id="ans11" />
            <a href="#f11"><span class="inner">Q11</span></a>
        </label>
        <label for="ans4" class="option opt1 pull-left">
            <input type="radio" name="ans1" id="ans12" />
            <a href="#f12"><span class="inner">Q12</span></a>
        </label>
        <label for="ans4" class="option opt1 pull-left">
            <input type="radio" name="ans1" id="ans13" />
            <a href="#f13"><span class="inner">Q13</span></a>
        </label>
        <label for="ans4" class="option opt1 pull-left">
            <input type="radio" name="ans1" id="ans14" />
            <a href="#f14"><span class="inner">Q14</span></a>
        </label>
        <label for="ans4" class="option opt1 pull-left">
            <input type="radio" name="ans1" id="ans15" />
            <a href="#f15"><span class="inner">Q15</span></a>
        </label>
        <label for="ans4" class="option opt1 pull-left">
            <input type="radio" name="ans1" id="ans16" />
            <a href="#f16"><span class="inner">Q16</span></a>
        </label>
        <label for="ans4" class="option opt1 pull-left">
            <input type="radio" name="ans1" id="ans17" />
            <a href="#f17"><span class="inner">Q17</span></a>
        </label>
        <label for="ans4" class="option opt1 pull-left">
            <input type="radio" name="ans1" id="ans18" />
            <a href="#f18"><span class="inner">Q18</span></a>
        </label>
        <label for="ans4" class="option opt1 pull-left">
            <input type="radio" name="ans1" id="ans19" />
            <a href="#f19"><span class="inner">Q19</span></a>
        </label>
        <label for="ans4" class="option opt1 pull-left">
            <input type="radio" name="ans1" id="ans20" />
            <a href="#f20"><span class="inner">Q20</span></a>
        </label>
    </div>

<br><br>

	<div id="f1">
	  <center>
	  <br><br><br>
	  <b><font color="white" size="20px">QUESTION 1 (TRIAL)</font></b>
	  <br><br><br><br>
	    <a><font color="#D3D3D3">Welcome to Contest !</font></a>
	    <br>
	    <a><font color="#D3D3D3">This is practise question, submit anything and get 5 points. </font></a>
	    
		<form action = "" method = "POST">
         <p><input type = "text" name = "answer" id="text" /></p>
         <p><input type = "submit" name = "1" value = "SUBMIT" onclick="clear_field();"/></p>
      	</form>
      	</center>
	
	<br><br>
	</div>

	<div id="f2">
	  <center>
	  <br><br><br>
	  <b><font color="white" size="20px">QUESTION 2</font></b>
	  <br><br><br><br>
	    <a><font color="#D3D3D3">Hint 1: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 2: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 3: Yet to come</font></a>
	    
		<form action = "" method = "POST">
         <p><input type = "text" name = "answer" id="text" /></p>
         <p><input type = "submit" name = "2" value = "SUBMIT" onclick="clear_field();"/></p>
      	</form>
      	</center>
	
	<br><br>
	</div>
	

	<div id="f3">
	  <center>
	  <br><br><br>
	  <b><font color="white" size="20px">QUESTION 3</font></b>
	  <br><br><br><br>
	    <a><font color="#D3D3D3">Hint 1: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 2: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 3: Yet to come</font></a>
	    
		<form action = "" method = "POST">
         <p><input type = "text" name = "answer" id="text" /></p>
         <p><input type = "submit" name = "3" value = "SUBMIT" onclick="clear_field();"/></p>
      	</form>
      	</center>
	
	<br><br>
	</div>

	<div id="f4">
	  <center>
	  <br><br><br>
	  <b><font color="white" size="20px">QUESTION 4</font></b>
	  <br><br><br><br>
	    <a><font color="#D3D3D3">Hint 1: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 2: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 3: Yet to come</font></a>
	    
		<form action = "" method = "POST">
         <p><input type = "text" name = "answer" id="text" /></p>
         <p><input type = "submit" name = "4" value = "SUBMIT" onclick="clear_field();"/></p>
      	</form>
      	</center>
	
	<br><br>
	</div>

		<div id="f5">
	  <center>
	  <br><br><br>
	  <b><font color="white" size="20px">QUESTION 5</font></b>
	  <br><br><br><br>
	    <a><font color="#D3D3D3">Hint 1: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 2: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 3: Yet to come</font></a>
	    
		<form action = "" method = "POST">
         <p><input type = "text" name = "answer" id="text" /></p>
         <p><input type = "submit" name = "5" value = "SUBMIT" onclick="clear_field();"/></p>
      	</form>
      	</center>
	
	<br><br>
	</div>

	<!--div id="f6">
	  <center>
	  <br><br><br>
	  <b><font color="white" size="20px">QUESTION 6</font></b>
	  <br><br><br><br>
	    <a><font color="#D3D3D3">Hint 1: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 2: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 3: Yet to come</font></a>
	    
		<form action = "" method = "POST">
         <p><input type = "text" name = "answer" id="text" /></p>
         <p><input type = "submit" name = "6" value = "SUBMIT" onclick="clear_field();"/></p>
      	</form>
      	</center>
	
	<br><br>
	</div>

		<div id="f7">
	  <center>
	  <br><br><br>
	  <b><font color="white" size="20px">QUESTION 7</font></b>
	  <br><br><br><br>
	    <a><font color="#D3D3D3">Hint 1: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 2: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 3: Yet to come</font></a>
	    
		<form action = "" method = "POST">
         <p><input type = "text" name = "answer" id="text" /></p>
         <p><input type = "submit" name = "7" value = "SUBMIT" onclick="clear_field();"/></p>
      	</form>
      	</center>
	
	<br><br>
	</div>

		<div id="f8">
	  <center>
	  <br><br><br>
	  <b><font color="white" size="20px">QUESTION 8</font></b>
	  <br><br><br><br>
	    <a><font color="#D3D3D3">Hint 1: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 2: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 3: Yet to come</font></a>
	    
		<form action = "" method = "POST">
         <p><input type = "text" name = "answer" id="text" /></p>
         <p><input type = "submit" name = "8" value = "SUBMIT" onclick="clear_field();"/></p>
      	</form>
      	</center>
	
	<br><br>
	</div>

		<div id="f9">
	  <center>
	  <br><br><br>
	  <b><font color="white" size="20px">QUESTION 9</font></b>
	  <br><br><br><br>
	    <a><font color="#D3D3D3">Hint 1: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 2: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 3: Yet to come</font></a>
	    
		<form action = "" method = "POST">
         <p><input type = "text" name = "answer" id="text" /></p>
         <p><input type = "submit" name = "9" value = "SUBMIT" onclick="clear_field();"/></p>
      	</form>
      	</center>
	
	<br><br>
	</div>

		<div id="f10">
	  <center>
	  <br><br><br>
	  <b><font color="white" size="20px">QUESTION 10</font></b>
	  <br><br><br><br>
	    <a><font color="#D3D3D3">Hint 1: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 2: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 3: Yet to come</font></a>
	    
		<form action = "" method = "POST">
         <p><input type = "text" name = "answer" id="text" /></p>
         <p><input type = "submit" name = "10" value = "SUBMIT" onclick="clear_field();"/></p>
      	</form>
      	</center>
	
	<br><br>
	</div>

		<div id="f11">
	  <center>
	  <br><br><br>
	  <b><font color="white" size="20px">QUESTION 11</font></b>
	  <br><br><br><br>
	    <a><font color="#D3D3D3">Hint 1: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 2: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 3: Yet to come</font></a>
	    
		<form action = "" method = "POST">
         <p><input type = "text" name = "answer" id="text" /></p>
         <p><input type = "submit" name = "11" value = "SUBMIT" onclick="clear_field();"/></p>
      	</form>
      	</center>
	
	<br><br>
	</div>

		<div id="f12">
	  <center>
	  <br><br><br>
	  <b><font color="white" size="20px">QUESTION 12</font></b>
	  <br><br><br><br>
	    <a><font color="#D3D3D3">Hint 1: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 2: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 3: Yet to come</font></a>
	    
		<form action = "" method = "POST">
         <p><input type = "text" name = "answer" id="text" /></p>
         <p><input type = "submit" name = "12" value = "SUBMIT" onclick="clear_field();"/></p>
      	</form>
      	</center>
	
	<br><br>
	</div>

		<div id="f13">
	  <center>
	  <br><br><br>
	  <b><font color="white" size="20px">QUESTION 13</font></b>
	  <br><br><br><br>
	    <a><font color="#D3D3D3">Hint 1: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 2: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 3: Yet to come</font></a>
	    
		<form action = "" method = "POST">
         <p><input type = "text" name = "answer" id="text" /></p>
         <p><input type = "submit" name = "13" value = "SUBMIT" onclick="clear_field();"/></p>
      	</form>
      	</center>
	
	<br><br>
	</div>

		<div id="f14">
	  <center>
	  <br><br><br>
	  <b><font color="white" size="20px">QUESTION 14</font></b>
	  <br><br><br><br>
	    <a><font color="#D3D3D3">Hint 1: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 2: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 3: Yet to come</font></a>
	    
		<form action = "" method = "POST">
         <p><input type = "text" name = "answer" id="text" /></p>
         <p><input type = "submit" name = "14" value = "SUBMIT" onclick="clear_field();"/></p>
      	</form>
      	</center>
	
	<br><br>
	</div>

		<div id="f15">
	  <center>
	  <br><br><br>
	  <b><font color="white" size="20px">QUESTION 15</font></b>
	  <br><br><br><br>
	    <a><font color="#D3D3D3">Hint 1: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 2: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 3: Yet to come</font></a>
	    
		<form action = "" method = "POST">
         <p><input type = "text" name = "answer" id="text" /></p>
         <p><input type = "submit" name = "15" value = "SUBMIT" onclick="clear_field();"/></p>
      	</form>
      	</center>
	
	<br><br>
	</div>

		<div id="f16">
	  <center>
	  <br><br><br>
	  <b><font color="white" size="20px">QUESTION 16</font></b>
	  <br><br><br><br>
	    <a><font color="#D3D3D3">Hint 1: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 2: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 3: Yet to come</font></a>
	    
		<form action = "" method = "POST">
         <p><input type = "text" name = "answer" id="text" /></p>
         <p><input type = "submit" name = "16" value = "SUBMIT" onclick="clear_field();"/></p>
      	</form>
      	</center>
	
	<br><br>
	</div>

		<div id="f17">
	  <center>
	  <br><br><br>
	  <b><font color="white" size="20px">QUESTION 17</font></b>
	  <br><br><br><br>
	    <a><font color="#D3D3D3">Hint 1: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 2: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 3: Yet to come</font></a>
	    
		<form action = "" method = "POST">
         <p><input type = "text" name = "answer" id="text" /></p>
         <p><input type = "submit" name = "17" value = "SUBMIT" onclick="clear_field();"/></p>
      	</form>
      	</center>
	
	<br><br>
	</div>

	<div id="f18">
	  <center>
	  <br><br><br>
	  <b><font color="white" size="20px">QUESTION 18</font></b>
	  <br><br><br><br>
	    <a><font color="#D3D3D3">Hint 1: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 2: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 3: Yet to come</font></a>
	    
		<form action = "" method = "POST">
         <p><input type = "text" name = "answer" id="text" /></p>
         <p><input type = "submit" name = "18" value = "SUBMIT" onclick="clear_field();"/></p>
      	</form>
      	</center>
	
	<br><br>
	</div>

	<div id="f19">
	  <center>
	  <br><br><br>
	  <b><font color="white" size="20px">QUESTION 19</font></b>
	  <br><br><br><br>
	    <a><font color="#D3D3D3">Hint 1: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 2: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 3: Yet to come</font></a>
	    
		<form action = "" method = "POST">
         <p><input type = "text" name = "answer" id="text" /></p>
         <p><input type = "submit" name = "19" value = "SUBMIT" onclick="clear_field();"/></p>
      	</form>
      	</center>
	
	<br><br>
	</div>

	<div id="f20">
	  <center>
	  <br><br><br>
	  <b><font color="white" size="20px">QUESTION 20</font></b>
	  <br><br><br><br>
	    <a><font color="#D3D3D3">Hint 1: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 2: Yet to come</font></a>
	    <br>
	    <a><font color="#D3D3D3">Hint 3: Yet to come</font></a>
	    
		<form action = "" method = "POST">
         <p><input type = "text" name = "answer" id="text" /></p>
         <p><input type = "submit" name = "20" value = "SUBMIT" onclick="clear_field();"/></p>
      	</form>
      	</center>
	
	<br><br>
	</div-->


</body>
</html>