<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Swarath-IIIT's Autonomous Car</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
    
  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">
  
  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">
  
  <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
  <link href="favicon.ico" rel="shortcut icon">
  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Aladin" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet"> 
  
  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate-css/animate.min.css" rel="stylesheet">
  
  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">
  
</head>

<body>

  <div id="preloader"></div>
  
<!--==========================
  Hero Section
============================-->
  <section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">
        <div class="hero-logo">
          <!-- <img class="" src="img/logo.png" alt="Imperial"> -->
        </div>
        <h1 class="firsthead">SWARATH</h1>
        <h1>IIITDs AUTONOMOUS CAR</h1>
        <h2>Saving <span class="rotating">Money, Energy, Resources</span></h2>
        <div class="actions">
          <!-- <a href="#about" class="btn-get-started">Get Strated</a> -->
          <!-- <a href="#services" class="btn-services">Our Services</a> -->
        </div>
      </div>
    </div>
  </section>
  
<!--==========================
  Header Section
============================-->
  <header id="header">
    <div class="container">
    
      <div id="logo" class="pull-left">
        <!-- <a href="#hero"><img src="img/logo.png" alt="" title="" /></img></a> -->
        <h2 style="font-family: 'Aladin', cursive;color: white"> SWARATH </h2>
        <!-- Uncomment below if you prefer to use a text image -->
        <!--<h1><a href="#hero">Header 1</a></h1>-->
      </div>
        
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Software</a></li>
          <li><a href="#services1">Hardware</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#testimonials">Mentors</a></li>
          <!-- <li><a href="#team">Team</a></li> -->
          <!-- <li class="menu-has-children"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="menu-has-children"><a href="#">Drop Down 2</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li> -->
          <li><a href="#contact">Updates</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
    
<!--==========================
  About Section
============================-->
  <section id="about">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">About Us</h3>
          <br \>
          <div class="section-title-divider"></div>
          <!-- <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</p> -->
        </div>
      </div>
    </div>
    <div class="container about-container wow fadeInUp">
      <div class="row">
        <div class="col-md-6 col-md-push-6 about-content">
          <h2 class="about-title">For a Better Future</h2>
          <br \>
          <p class="about-text">
            The goal of this project is to create an autonomous shuttle for the urban Indian last mile. The shuttle will operate on predefined routes and provide hassle free anytime connectivity to modes of public transport like the Metro. To keep the costs per shuttle low, we plan to leverage state-of-the-art Artificial Intelligence and other computational techniques that enable reducing the costs of sensing hardware needed per shuttle. In its first avatar the shuttle will provide connectivity between points in a university campus. 

          </p>
          <p class="about-text">
            With this in mind, over the next year, we plan to achieve autonomous static obstacle avoidance, lane following, reading of basic traffic signals, and following speed limits. For doing this, during the learning phase, the shuttle builds a 3-D map of the route it will take, and then uses it for navigation. 
          </p>
          <p class="about-text">
            Our current choice of vehicle platform is an electric rickshaw, and currently we are working on providing shuttle service within the IIIT-Delhi campus. We also hope to replicate the above on Mahindra’s latest electric car, the e2o.
          </p>
        </div>
      </div>
    </div>
  </section>
  
<!--==========================
  Services Section
============================-->
  <section id="services">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Implemented Software</h3>
          <br \>
          <div class="section-title-divider"></div>
          <p class="section-description">These Are Some Of The Softwares And Technology Used In Our Car.</p>
        </div>
      </div>
        
      <div class="row">
        <div class="col-md-4 service-item">
          <!-- <div class="service-icon"><i class="fa fa-desktop"></i></div> -->
          <h4 class="service-title"><a href="">Lane Detection</a></h4>
          <p class="service-description">Detecting roads from their lane markings (white lines) on the roads.</p>
        </div>
        <div class="col-md-4 service-item">
          <!-- <div class="service-icon"><i class="fa fa-bar-chart"></i></div> -->
          <h4 class="service-title"><a href="">Curb Detection</a></h4>
          <p class="service-description">Is used to detect the curbs on the side of the roads</p>
        </div>
        <div class="col-md-4 service-item">
          <!-- <div class="service-icon"><i class="fa fa-paper-plane"></i></div> -->
          <h4 class="service-title"><a href="">Traffic Light Detection</a></h4>
          <p class="service-description">For better real-world usage and better autonomy</p>
        </div>
        <div class="col-md-4 service-item">
          <!-- <div class="service-icon"><i class="fa fa-photo"></i></div> -->
          <h4 class="service-title"><a href="">Obstacle Detection</a></h4>
          <p class="service-description">Used to detect obstacles on the road and avoid them by getting out of their way</p>
        </div>
        <div class="col-md-4 service-item">
          <!-- <div class="service-icon"><i class="fa fa-photo"></i></div> -->
          <h4 class="service-title"><a href="">Scan Matching</a></h4>
          <p class="service-description">Uses the scans and the maps to find the rigid-body transformation (translation+rotation) that aligns them best</p>
        </div>

        <!-- <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-road"></i></div>
          <h4 class="service-title"><a href="">Nemo Enim</a></h4>
          <p class="service-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-shopping-bag"></i></div>
          <h4 class="service-title"><a href="">Eiusmod Tempor</a></h4>
          <p class="service-description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
        </div> -->
      </div>
    </div>  
  </section>
  
  <section id="services1">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Implemented Hardware</h3>
          <br \>

          <div class="section-title-divider"></div>
          <p class="section-description">These Are Some Of The Harware Used In Our Car.</p>
        </div>
      </div>
        
      <div class="row">
        <div class="col-md-4 service-item">
          <!-- <div class="service-icon"><i class="fa fa-desktop"></i></div> -->
          <h4 class="service-title"><a href="">Velodyne LiDAR</a></h4>
          <p class="service-description">Used to create a full 360 degree environmental view for 3D-Mapping and better navigation</p>
        </div>
        <div class="col-md-4 service-item">
          <!-- <div class="service-icon"><i class="fa fa-bar-chart"></i></div> -->
          <h4 class="service-title"><a href="">Pointgrey Camera</a></h4>
          <p class="service-description">For capturing roads and curbs for further detection and processing</p>
        </div>
        <div class="col-md-4 service-item">
          <!-- <div class="service-icon"><i class="fa fa-paper-plane"></i></div> -->
          <h4 class="service-title"><a href="">Can Interface</a></h4>
          <p class="service-description">Controlled Area Network which allows the ROS Codes and the hardware of the automobile to interact with each other. It is a message-based protocol</p>
        </div>
        
        <div class="col-md-4 service-item">
          <!-- <div class="service-icon"><i class="fa fa-road"></i></div> -->
          <h4 class="service-title"><a href="">SLAM</a></h4>
          <p class="service-description">The method of constructing or updating a map of an unknown environment while simultaneously keeping track of an agent's location within it</p>
        </div>
        <!-- <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-shopping-bag"></i></div>
          <h4 class="service-title"><a href="">Eiusmod Tempor</a></h4>
          <p class="service-description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
        </div> -->
      </div>
    </div>  
  </section>
<!--==========================
  Subscrbe Section
============================-->  
  <section id="subscribe">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-8">
          <h3 class="subscribe-title">Follow Us On Facebook</h3>
          <p class="subscribe-text">Join us on our facebook page and get the latest news and announcements on our project</p>
        </div>
        <div class="col-md-4 subscribe-btn-container">
          <a class="subscribe-btn" target="_blank" href="https://www.facebook.com/swarathatiiitd/">Follow Now</a>
        </div>
      </div>
    </div>
  </section>
    
<!--==========================
  Porfolio Section
============================-->
  <section id="portfolio">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Portfolio</h3>
          <br \>

          <div class="section-title-divider"></div>
          <p class="section-description">Si stante, hoc natura videlicet vult, salvam esse se, quod concedimus ses haec dicturum fuisse</p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(img/hero-bg.jpg);" href="">
            <div class="details">
              <h4>Portfolio 1</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>
        
        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(img/hero-bg.jpg);" href="">
            <div class="details">
              <h4>Portfolio 2</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>
        
        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(img/hero-bg.jpg);" href="">
            <div class="details">
              <h4>Portfolio 3</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>
        
        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(img/hero-bg.jpg);" href="">
            <div class="details">
              <h4>Portfolio 4</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>
        
        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(img/hero-bg.jpg);" href="">
            <div class="details">
              <h4>Portfolio 5</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>
        
        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(img/hero-bg.jpg);" href="">
            <div class="details">
              <h4>Portfolio 6</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>
        
        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(img/hero-bg.jpg);" href="">
            <div class="details">
              <h4>Portfolio 7</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>
        
        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(img/hero-bg.jpg);" href="">
            <div class="details">
              <h4>Portfolio 8</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>
        
      </div>
    </div>
  </section>
    
<!--==========================
  Testimonials Section
============================--> 
  <section id="testimonials">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Mentors</h3>
          <br \>

          <div class="section-title-divider"></div>
          <p class="section-description">Some Words Of Vision From Our Mentors</p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-3">
          <div class="profile">
            <div class="pic"><img src="img/client-1.jpg" alt=""></div>
            <h4>Sanjit Kaul</h4>
            <span>Assistant Professor</span>
          </div>
        </div>
        <div class="col-md-9">
          <div class="quote">
            <b><img src="img/quote_sign_left.png" alt=""></b> Proin iaculis purus consequat sem cure  digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper. <small><img src="img/quote_sign_right.png" alt=""></small>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-9">
          <div class="quote">
            <b><img src="img/quote_sign_left.png" alt=""></b> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis architecto beatae. <small><img src="img/quote_sign_right.png" alt=""></small>
          </div>
        </div>
        <div class="col-md-3">
          <div class="profile">
            <div class="pic"><img src="img/client-2.jpg" alt=""></div>
            <h4>Saket Anand</h4>
            <span>Assistant Professor</span>
          </div>
        </div>
      </div>
      
    </div>
  </section>

<!--==========================
  Team Section
============================-->    
  <!-- <section id="team">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Our Team</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="img/team-1.jpg" alt=""></div>
            <h4>Walter White</h4>
            <span>Chief Executive Officer</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="img/team-2.jpg" alt=""></div>
            <h4>Sarah Jhinson</h4>
            <span>Product Manager</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="img/team-3.jpg" alt=""></div>
            <h4>William Anderson</h4>
            <span>CTO</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="img/team-4.jpg" alt=""></div>
            <h4>Amanda Jepson</h4>
            <span>Accountant</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
        
      </div>  
    </div>
  </section> -->
    
<!--==========================
  Contact Section
============================--> 
  <section id="contact">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Updates</h3>
          <br \>
          
          <div class="section-title-divider"></div>
          <p class="section-description">Latest information about the project from our Facebook feed</p>
        </div>

      </div>
      <div class="fbplugin">
      <iframe class="fbplug" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fswarathatiiitd%2F&tabs=timeline&width=300&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="300" height="500" style="border:none;overflow:hidden" scrolling="yes"  frameborder="0" allowTransparency="true"></iframe>
        </div>
      </div>
    </div>
  </section>
  
<!--==========================
  Footer
============================--> 
  <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright">
              &copy; Copyright © 2017. <strong><a href="https://iiitd.ac.in/" target="_blank">IIIT-Delhi</strong>.</a> All Rights Reserved
            </div>
            <div class="credits">
              <!-- 
                All the links in the footer should remain intact. 
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Imperial
              -->
              
            </div>
          </div>
        </div>
      </div>
  </footer><!-- #footer -->
  
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    
  <!-- Required JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/morphext/morphext.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/stickyjs/sticky.js"></script>
  <script src="lib/easing/easing.js"></script>
  
  <!-- Template Specisifc Custom Javascript File -->
  <script src="js/custom.js"></script>
  
  <script src="contactform/contactform.js"></script>
  
    
</body>
</html>